.container
  .followers_index フォローされているユーザー
  = link_to :back do
    = image_tag 'back.svg', class: 'back_btn'
  - @users.each do |user|
    .follow_relationships
      .follow_user
        = image_tag user.avatar_image
      .follow_user_name 
        = user.name