@import 'variables';

.profile {
    position: relative;

    &_back_image {
        position: absolute;
        top: 64px;
        left: 16px;
        width: 20px;
        height: 20px;
    }

    &_header {
        text-align: center;
        margin-top: 45px;
    }

    &_name {
        font-size: $page-title-size;
    }

    &_avatar {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 45px;
    }

    &_image {
        height: 77px;
        width: 77px;
        object-fit: cover;
        border-radius: 50%;
    }

    &_info {

        justify-content: space-between;
        text-align: center;
        display: flex;
        font-size: 14px;
        margin: 0px;
        margin-bottom: 45px;

        &_num {
            justify-content: space-around;
        }

        &_posts {
            width: 84px;
        }

        &_followers {
            width: 84px;
        }

        &_following {
            width: 84px;
        }

        &_contents {
            width: 100%;
            margin-top: 30px;
            .photos {
                ul.album {
                    line-height: 0;
                    -webkit-column-count: 3;
                    -webkit-column-gap: 0px;
                    -moz-column-count: 3;
                    -moz-column-gap: 0px;
                    column-count: 3;
                    column-gap: 0px; 
                }

                ul.album li {
                    margin: auto;
                    width: 100% !important;
                    height: auto !important;
                }

                ul.album li img {
                    width: 100%;
                }
                // width: 100%;
                // line-height: 0;
                // -moz-column-count:    2;
                // -moz-column-gap:      0px;
                // column-count:         2;
                // column-gap:           5px;
                // img {
                //     width: 100% !important;
                //     height: auto !important;
                // }
            }
        }
    }

}